@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  cursor: url(./Images/pointer.png), auto;
}

::-webkit-scrollbar {
  background-color: var(--text-primary);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary);
  border-radius: 50px;
}

:root {
  --bg-dark-color: #020858;
  --bg-even-section: #010c3fec;
  --text-white: #fff;
  --text-primary: #0a4eff;
  --text-secondary: #fdae05;
  --font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar:hover {
  cursor: pointer;
}

::selection {
  background-color: #46423b;
}

body {
  background-color: var(--bg-dark-color);
  color: var(--text-wight);
  font-family: var(--font-family);
}

.btn {
  background-color: var(--text-primary);
  color: #fff;
  outline: none;
  border: 2px solid var(--text-white);
  padding: 8px 18px;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.5s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--bg-dark-color);
  color: #fff;
  transition: all 0.5s;
  border: 2px solid var(--text-secondary);
}

/* Header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 20px 10px 30px;
  box-shadow: 0 0 1px #0615eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-dark-color);
  z-index: 2;
}

header .logo {
  color: var(--text-secondary);
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1.5px;
  transition: all 0.5s;
}

header nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-dark-color);
  transition: 0.5s;
  transform: translateX(100vw);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 20px;
  gap: 2rem;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1.5rem;
  max-width: 300px;
}

header nav ul li {
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-white);
  padding: 5px;
  width: 77px;
  height: 77px;
  border-radius: 10px;
  transition: all 0.5s;
}

header nav ul a:hover > li,
header nav ul a.active > li {
  color: var(--text-secondary);
  border: 2px solid var(--text-secondary);
  background-color: rgb(3, 3, 85);
}

footer a {
  cursor: pointer;
}

footer span {
  width: 100%;
  text-align: center;
}

header nav ul li span,
.social a {
  font-size: 0.7rem;
  color: var(--text-white);
}

.cv {
  background-color: #059c05;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.3px;
  font-weight: 600;
  color: var(--text-white);
  border: 2px solid #059c05;
}

.cv:hover {
  background-color: #05b405;
  border: 2px solid #fdae05;
}

header .menu-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  color: var(--text-white);
  visibility: visible;
  opacity: 1;
  border: 1px solid var(--text-white);
  border-radius: 100%;
  padding: 5px;
}

header .mobile-nav {
  transform: none;
}

/* Home section */
section {
  height: auto;
  margin-top: 50px;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

section.home {
  height: calc(100vh - 50px);
  justify-content: center;
  padding: 0 10px;
  background-color: var(--bg-even-section);
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.home .dev-info h1 {
  color: var(--text-white);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

section.home .dev-info h2 {
  color: var(--text-secondary);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

section.home p {
  max-width: 600px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.733);
}

section.home .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

section.work button {
  width: 200px;
}

section.home .buttons button {
  width: 150px;
  font-weight: 600;
  border: 2px solid;
  cursor: pointer;
}

/* About Section */

section.about {
  padding: 25px;
}

.title {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--text-white);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  text-decoration-color: var(--text-secondary);
}

section.about .about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 700px;
}

section.about .about-info .about-img {
  /* padding: 30px; */
  background-color: var(--bg-even-section);
  border: 3px solid var(--text-secondary);
  overflow: hidden;
  border-radius: 20px;
  width: 250px;
  height: 250px;
}

main.single-work .content div img {
  width: 100px;
}

section.about .about-info .about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 1s;
  transform: scale(-1, 1);
}

section.about .about-info:hover > .about-img img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transform: scale(1);
}

section.about .about-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}

section.about .about-text h3 {
  color: var(--text-secondary);
  font-size: 22px;
}

section.about .about-text p {
  color: rgba(255, 255, 255, 0.733);
}

section.about .skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

section.about .skills .sills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 20px;
  border-radius: 10px;
}

section.about .skills .sills-list .single-skill {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid var(--text-primary);
  transition: all 0.5s;
}

section.about .skills .sills-list .single-skill:hover {
  border: 3px solid var(--text-secondary);
}

section.work button i {
  color: var(--text-secondary);
  margin-left: 10px;
  cursor: pointer;
}

footer a:hover > i {
  color: var(--text-secondary);
}

section.about .skills .sills-list .single-skill i {
  color: var(--text-secondary);
}

section.work .works-list .single-work p {
  color: rgba(255, 255, 255, 0.733);
  padding: 10px;
  text-align: center;
}

section.testimonial .cards-list .single-card p {
  color: #a3a3a3;
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  overflow-y: scroll;
}

section.testimonial .cards-list .single-card p::-webkit-scrollbar {
  background-color: var(--bg-dark-color);
  width: 5px;
}

section.testimonial .cards-list .single-card p::-webkit-scrollbar-thumb {
  background-color: var(--text-primary);
}

section.about .skills .sills-list .single-skill p {
  color: rgba(255, 255, 255, 0.733);
}

/* Work section */

section.work {
  background-color: var(--bg-even-section);
  padding: 20px 10px;
  height: auto;
}

section.work .works-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

section.work .works-list .single-work {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0 10px 0;
  box-shadow: #a3a3a3 0 0 2px 0;
  border: 2px solid #a3a3a3;
  transition: all 0.5s;
}

section.work .works-list .single-work:hover {
  border: 2px solid var(--text-secondary);
}

section.work .works-list .single-work .work-img {
  width: 100%;
  height: 220px;
}

section.work .works-list .single-work .work-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: all 0.5s;
  transform: scale(-0.9, 0.9);
  -webkit-filter: grayscale(1) blur(2px);
  filter: grayscale(1) blur(2px);
  border-bottom: 3px solid var(--text-secondary);
}

section.testimonial .cards-list .single-card .img img {
  width: 100px;
  transform: scale(1.2);
  border: 3px solid var(--text-primary);
  border-radius: 50px;
  padding: 2px;
}

section.work .works-list .single-work:hover > .work-img img {
  transform: scale(1);
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
}

section.work .works-list .single-work .work-title {
  color: var(--text-white);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

section.work .works-list .single-work .project-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

section.work .works-list .single-work .link {
  color: #000;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  border: 2px solid var(--text-primary);
  background-color: #d1ccccda;
  padding: 2px 10px;
  border-radius: 5px;
  transition: all 0.3s;
  text-align: center;
}

section.work .works-list .single-work .link:hover {
  background-color: var(--text-primary);
  border: 2px solid var(--text-secondary);
  color: var(--text-white);
}

/* testimonial section */

section.testimonial {
  padding: 20px;
}

section.testimonial .cards-list {
  width: 90%;
  padding: 10px 0;
}

section.testimonial .cards-list .single-card {
  width: 250px;
  height: 400px;
  border: 2px solid rgba(255, 255, 255, 0.397);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 20px;
  margin: auto;
  transition: all 0.5s;
}

section.testimonial .cards-list .single-card:hover {
  background-color: #030636;
}

section.testimonial .cards-list .single-card h4 {
  color: var(--text-white);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.2px;
}

footer .social {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

section.testimonial .cards-list .single-card .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

section.contact .contact-cards .contact-info .single-contact i {
  color: var(--text-white);
  border: 3px solid var(--text-primary);
  padding: 5.5px 8px;
  border-radius: 50px;
  transition: all 0.5s;
}

section.testimonial .cards-list .single-card .social i {
  color: #fff;
  border: 2px solid var(--text-secondary);
  border-radius: 08px;
  padding: 5px;
  transition: all 0.3s;
}

section.testimonial .cards-list .single-card .social i:hover {
  color: var(--text-secondary);
  border: 2px solid var(--text-primary);
}

/* Contact section */

section.contact {
  background-color: var(--bg-even-section);
  padding: 20px 10px;
}

section.contact .contact-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 20px;
}

section.contact .contact-cards .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

section.contact .contact-cards .contact-info .single-contact {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  width: 250px;
  gap: 0.5rem;
}

section.contact .contact-cards .contact-info .single-contact:hover {
  /* background-color: var(--text-primary); */
  cursor: pointer;
}

section.contact .contact-cards .contact-info .single-contact:hover > i {
  color: var(--text-primary);
  border: 3px solid var(--text-secondary);
}

section.contact .contact-cards .contact-info .single-contact .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

section.contact .contact-cards .contact-form span {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 1.5px;
}

section.contact .contact-cards .contact-info .single-contact .info span {
  color: var(--text-white);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.3px;
}

section.contact .contact-cards .contact-info .single-contact .info .detail {
  color: #a3a3a3;
  font-size: 14px;
  font-weight: 300;
}

section.contact .contact-cards .contact-info .single-contact .info .detail:hover {
  color: #fff;
}

section.contact .contact-cards .contact-form {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border-left: none;
}

section.contact .contact-cards .contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

section.contact .contact-cards .contact-form form .credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

section.contact .contact-cards .contact-form form .field {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.3px;
  outline: none;
  border: 1px solid #a3a3a3;
  background-color: transparent;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.925);
}

section.contact .contact-cards .contact-form form .credentials .field {
  width: 100%;
}

section.contact .contact-cards .contact-form form .static {
  width: 100%;
}

section.contact .contact-cards .contact-form button {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 1rem;
  cursor: pointer;
}

/* Footer section */

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #a3a3a3;
  gap: 0.5rem;
  padding: 15px 0;
}

footer .line {
  border: 1px solid #a3a3a379;
  width: 100%;
}

main.single-work .content {
  padding: 40px;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

main.single-work .content div {
  width: 100%;
  border: 1px solid red;
}

main.single-work .content div.lef {
  border: 1px solid yellow;
}

main.single-work .content .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 768px) {
  /* Header */

  header {
    justify-content: space-evenly;
  }

  header .logo {
    color: var(--text-secondary);
    font-size: 1.7rem;
    font-weight: 800;
    letter-spacing: 1.5px;
    transition: all 0.5s;
  }

  header nav {
    position: relative;
    transform: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 500px;
  }

  header nav ul {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    color: var(--text-white);
  }

  header nav ul li {
    border: none;
    padding: 0;
    width: auto;
    height: auto;
    border-radius: 0;
    cursor: pointer;
  }

  header nav ul a:hover > li,
  header nav ul a.active > li {
    border: none;
    background: none;
  }

  header nav ul a {
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.5s;
  }

  header nav ul a:hover,
  header nav ul a.active {
    color: var(--text-secondary);
    border-bottom: 2px solid var(--text-secondary);
  }

  header nav ul .button {
    display: none;
    cursor: pointer;
  }

  header nav ul li.social {
    display: none;
  }

  header nav ul li span {
    font-size: 1rem;
  }

  header nav ul li i {
    display: none;
  }

  header .menu-icon {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }

  /* Home section */

  section.home .dev-info h1 {
    font-size: 40px;
  }

  section.home .dev-info h2 {
    font-size: 25px;
  }

  section.home p {
    max-width: 600px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.733);
  }

  /* About section */

  section.about .about-info {
    flex-direction: row;
  }

  /* Testimonial section */
  section.testimonial .cards-list {
    width: 85%;
    padding: 10px 0;
  }

  section.contact .contact-cards {
    width: 80%;
  }

  section.contact .contact-cards .contact-form form .credentials {
    flex-direction: row;
  }

  section.contact .contact-cards .contact-form {
    width: 500px;
    border-left: 2px solid #a3a3a3;
  }

  main.single-work .content div:first-child {
    width: calc(40% - 1rem);
  }

  main.single-work .content div:nth-child(2) {
    width: calc(60% - 1rem);
  }
}
