@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-dark-color: #040730;
  --text-white: #fff;
  --text-primary: #0a4eff;
  --text-secondary: #5856d1;
  --font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-dark-color);
  color: var(--text-wight);
  font-family: var(--font-family);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  outline: none;
  border: none;
  padding: 8px 18px;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.5s;
  cursor: pointer;
}

/* Header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 20px 10px 30px;
  box-shadow: 0px 0px 1px #0615eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-dark-color);
  z-index: 1;
}

header .logo {
  color: var(--text-white);
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  transform: all 0.5s;
}

header nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-dark-color);
  transition: 0.5s;
  transform: translateX(100vw);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 20px;
  gap: 2rem;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1.5rem;
  max-width: 300px;
}

header nav ul li {
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-white);
  padding: 5px;
  width: 75px;
  height: 75px;
  border-radius: 10px;
}

header nav ul li span,
.social a {
  font-size: 0.7rem;
  color: var(--text-white);
}

header .menu-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-white);
  visibility: visible;
  opacity: 1;
  border: 1px solid var(--text-white);
  border-radius: 100%;
  padding: 5px;
}

header .mobile-nav {
  transform: none;
}

/* Home section */
section {
  height: calc(100vh - 55px);
  z-index: -1;
}

section.home {
  position: relative;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #070924;
  text-align: center;
  gap: 2rem;
}

section.home .dev-info h1 {
  color: var(--text-white);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

section.home .dev-info h2 {
  color: var(--text-secondary);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

section.home p {
  max-width: 600px;
  color: rgba(255, 255, 255, 0.733);
}

section.home .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

section.home .buttons button {
  width: 125px;
}

section.about {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 20px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: var(--text-white);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  text-decoration-color: var(--text-secondary);
}

section.about .about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 700px;
}

section.about .about-info .about-img {
  padding: 30px;
  background-color: #070924;
  border: 3px solid var(--text-secondary);
  border-radius: 20px;
  width: 250px;
  height: 250px;
}

section.about .about-info .about-img img {
  width: 100%;
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
  transition: all 1s;
}

section.about .about-info .about-img img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transform: scale(1.3);
}

section.about .about-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
}

section.about .about-text h3 {
  color: var(--text-primary);
  font-size: 22px;
}

section.about .about-text p {
  color: rgba(255, 255, 255, 0.733);
}

section.about .skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

section.about .skills .sills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 20px;
  border-radius: 10px;
  /* background-color: #070924; */
}

section.about .skills .sills-list .single-skill {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--text-primary);
}

section.about .skills .sills-list .single-skill:nth-child(even) {
  background-color: var(--bg-dark-color);
  border: 1px solid var(--text-primary);
}

section.about .skills .sills-list .single-skill i {
  color: var(--text-primary);
}

section.about .skills .sills-list .single-skill p {
  color: rgba(255, 255, 255, 0.733);
}

section.work {
  height: auto;
  background-color: #070924;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 20px 10px;
}

section.work .works-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

section.work .works-list .single-work {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 20px;
  box-shadow: #a3a3a3 0px 0px 5px 0px;
  border-radius: 20px;
}

section.work .works-list .single-work .work-img {
  width: 100%;
  height: 220px;
}

section.work .works-list .single-work .work-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 1s;
}

section.work .works-list .single-work .work-img img:hover {
  transform: scale(1.1);
}

section.work .works-list .single-work .work-title {
  color: var(--text-white);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

section.work .works-list .single-work p {
  color: rgba(255, 255, 255, 0.733);
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  /* Header */

  header {
    justify-content: space-evenly;
  }

  header nav {
    position: relative;
    transform: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 500px;
  }

  header nav ul {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    color: var(--text-white);
  }

  header nav ul .button {
    display: none;
  }

  header nav ul li {
    border: none;
    padding: none;
    width: auto;
    height: auto;
    border-radius: none;
  }

  header nav ul li.social {
    display: none;
  }

  header nav ul li span {
    font-size: 1rem;
  }

  header nav ul li i {
    display: none;
  }

  header .menu-icon {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }

  section.about .about-info {
    flex-direction: row;
  }
}
